<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('nelmio_api_doc_index') }}role">Charlotte rôles 2.0</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('CharlotteStaffBundle_role_new') }}">Création de rôle</a></li>
            <li><a href="{{ path('CharlotteStaffBundle_role_search') }}">Modification d'un rôle</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('CharlotteStaffBundle_role_staff') }}">Modification d'un utilisateur</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('CharlotteStaffBundle_team') }}">Création/Modification d'un groupe de rôle</a></li>
          </ul>
        </li>
        <li><a href="{{ path('nelmio_api_doc_index') }}">Nelmio API</a></li>
        <li><a href="{{ path('nelmio_api_doc_index') }}logout">Déconnexion</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>